body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: fixed;
    background: green;
    font-family: 'Roboto', sans-serif;
}

/*Nav
----------------------------------------------------*/

nav {
    background-color: #111;
    margin: 0;
    padding: 1em;
    border-bottom: solid 1px #666;
}

nav .nav_list {
    display: inline-block;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    width: 60%;
}

.nav_list li {
    display: inline-block;
    vertical-align: top;
}

nav a {
    text-decoration: none;
    color: #CCCCCC;
    padding: 1em;
    transition: 200ms;
}

nav a:hover {
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 27%, rgba(43,43,43,1) 82%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(27%, rgba(0,0,0,1)), color-stop(82%, rgba(43,43,43,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 27%, rgba(43,43,43,1) 82%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 27%, rgba(43,43,43,1) 82%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 27%, rgba(43,43,43,1) 82%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 27%, rgba(43,43,43,1) 82%, rgba(19,19,19,1) 100%);
}

nav img {
    height: 40px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    vertical-align: top;
}

.ico {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.sign {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    vertical-align: top;
}

.sign li {
    display: inline-block;
}

/*Header
----------------------------------------------------*/

header {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/header.jpg');
    height: 300px;
    width: 100%;
    padding-top: 35px;
    border-bottom: 3px solid #333;
    position: relative;
    background-size: cover;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 4em;
    font-family: 'Poiret One', cursive;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

header p {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
    font-size: 1.5em;
}

input {
    border: none;
    height: 40px;
    box-shadow: 2px 2px 5px #000;
}

input:first-child {
    margin-right: -4px;
    width: 30%;
    font-size: 1.3em;
    padding-left: 2%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input:first-child:focus {
    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
}

input:last-child {
    width: 10%;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #474747 29%, #2c2c2c 50%, #000000 52%, #111111 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#474747 29%,#2c2c2c 50%,#000000 52%,#111111 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#474747 29%,#2c2c2c 50%,#000000 52%,#111111 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    color: #999;
    font-size: 1.3em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

input:last-child:hover {
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #898989 7%, #2c2c2c 39%, #000000 65%, #545454 92%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#898989 7%,#2c2c2c 39%,#000000 65%,#545454 92%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#898989 7%,#2c2c2c 39%,#000000 65%,#545454 92%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}

input:last-child:active {
    background: #bfbfbf; /* Old browsers */
    background: -moz-linear-gradient(top, #bfbfbf 0%, #2b2b2b 6%, #232323 49%, #000000 54%, #0a0a0a 93%, #3f3f3f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bfbfbf 0%,#2b2b2b 6%,#232323 49%,#000000 54%,#0a0a0a 93%,#3f3f3f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bfbfbf 0%,#2b2b2b 6%,#232323 49%,#000000 54%,#0a0a0a 93%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#3f3f3f',GradientType=0 );
}

input:focus {
    outline: none;
}

/*General
----------------------------------------------------*/

.wrapper {
    margin: 0 auto;
    width: 72em;
}

h2 {
    font-family: 'Poiret One', cursive;
    color: #fff;
    font-size: 2em;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 0;
}

.grid {
    width: 100%;
}

small {
    color: #666;
}

ul.rig {
	list-style: none;
	font-size: 0px;
    width: 100%;
    margin-left: -3.45%;
}
ul.rig li {
	display: inline-block;
    width: 20%;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1em;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li img:hover {
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    transition: ease 200ms;
}

ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}

.page_select {
    width: 100%;
}

.page_select_list {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page_select_list li {
    width: 9.9%;
    display: inline-block;
    background-color: #fff;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    text-align: center;
    padding: 8px 0 8px 0;
    list-style-type: none;
    border: 1px solid grey;
    margin: -2.5px;
}
.page_select_list li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page_select_list li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page_select_list li a {
    color: #333;
}

.page_select_list li a:hover {
    color: orange;
}

.selected {
    color: grey;
}

/*Footer
----------------------------------------------------*/

footer {
    background-color: #111;
    color: #fff;
    padding: .5em;
    padding-top: 40px;
}

.footer_cont {
    width: 95%;
    text-align: center;
}

footer .nav_list {
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: orange;
    text-shadow: 1px 1px 1px #CC8400;
}

footer p {
    font-size: .75em;
    text-align: center;
}

/*Media Queries
----------------------------------------------------*/

@media (max-width: 1200px) {
    header {
        height: 250px;
        padding-top: 25px;
    }

    .wrapper {
        width: 62.5em;
    }

    ul.rig {
        margin-left: -3.99%;
    }

    ul.rig li {
        width: 25%;
    	padding: 10px;
    	background: #fff;
    	border: 1px solid #ddd;
    	font-size: 1em;
    	font-size: 1rem;
    	vertical-align: top;
    	box-shadow: 0 0 5px #ddd;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    }
}

@media (max-width: 1050px) {
    .wrapper {
        width: 52.5em;
    }

    ul.rig {
        margin-left: -4.79%;
    }

    ul.rig li {
        width: 25%;
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 1em;
        font-size: 1rem;
    }

    h3 {
        font-size: 1em;
    }

    .page_select_list li {
        width: 9.8%;
    }

    .page_select_list {
        width: 60%;
    }
}

@media (max-width: 860px) {
    .wrapper {
        width: 44em;
    }

    ul.rig {
        margin-left: -5.79%;
    }

    ul.rig li {
        display: inline-block;
        width: 25%;
        font-size: 1em;
        font-size: 1rem;
    }

    ul.rig li {
        width: 33.333333333%;
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 1em;
        font-size: 1rem;
    }

}

@media (max-width: 720px) {
    .wrapper {
        width: 95%;
    }

    nav .nav_list {
        margin-top: -30px;
    }

    nav .nav_list li {
        text-align: center;
        margin-top: 30px;
    }

    ul.rig {
        margin-left: -6%;
    }
    ul.rig li {
        width: 50%;
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 1em;
        font-size: 1rem;
    }

    .page_select_list li {
        width: 9%;
    }
}

@media (max-width: 550px) {
    nav {
        padding-top: -30px;
    }

    nav .nav_list {
        margin-top: 0;
    }

    nav .nav_list li {
        display: block;
        margin-top: 0;
        vertical-align: top;
        text-align: center;
        letter-spacing: 4px;
    }

    .nav_list:first-child {
        margin-top: -20px;
    }

    nav a:hover {
        background: none;
    }

    header h1 {
        font-size: 3em;
    }

    h2 {
        margin-left: 2%;
    }

    .ico {
        visibility: hidden;
    }

    .wrapper {
        width: 100%;
    }
    .grid {
        margin-left: -2.55em;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100%;
        padding: 6.4789%;
        padding-bottom: 40px;
        background: #fff;
        border: none;
        font-size: 1em;
    }

    ul.rig li img {
        width: 100%;
        height: auto;
        margin: 0 0 10px;
        border: 1px solid #000;
    }

    ul.rig li h3 {
        margin: 0 0 5px;
        font-size: 1.3em;
    }
    ul.rig li p {
        line-height: 1.5em;
        color: #999;
    }

    .page_select_list {
        width: 94%;
        margin-left: -4%;
    }
}

@media (max-width: 400px) {
    header p {
        font-size: 1.2em;
    }

    .page_select_list {
        width: 94%;
        margin-left: -7%;
    }
}
