body {
    padding: 0;
    padding-top: 4em;
    margin: 0;
    background-color: #3366CC;
    font-family: sans-serif;
    text-align: center;
}

.top_bar {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    width: inherit;
    height: 4em;
}

.top_bar_container {
    width: 100%;
    margin: auto;
}

.bar_logo1 {
    float: left;
}

.bar_logo2 {
    display: none;
}

.sign {
    text-align:center;
    display:inline-block;
    margin-left: 800px;
    margin-right:200px;
}

.sign a {
    display: inline-block;
    margin: 0;
    margin-left: .5em;
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none;
    color: grey;
    margin-top: .25em;
}

nav {
    margin-top: 4em;
    width: inherit;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: auto;
}

.nav_container {
    width: 62.5em;
    height: inherit;
    margin: auto;
    overflow: auto;
}

.nav_list {
    float: left;
    padding: 0;
    margin: 0;
    width: 50%;
}

.nav_butt {
    display: inline-block;
    padding: .5em;
    border: .2em solid white;
    border-top: none;

}

.nav_butt a {
    text-decoration: none;
    height: inherit;
    color: white;
    font-family: arial;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}

.nav_butt p {
    margin: 0;
    padding: 0;
}

form {
    float: right;
    width: 40%;
    margin: 0;
}

input{
    width: 15em;
    height: inherit;
    background-color: white;
    font-size: 1.2em;
    border: .1em solid black;
    border-right: none;
    float: right;
    height: 2em;
    padding: 0;
    padding-left: 5%;
}

input:focus {
    outline: none;
}

button {
    height: inherit;
    width: 5em;
    padding: .35em;
    background-color: white;
    border: .125em solid black;
    border-left: none;
    float: right;
}

button, form, input {
    border: red dashed 1px;
}

button img {
    height: 2em;
}

.wrapper {
    width: 62.5em;
    margin: auto;
    background-color: grey;
}

.layer_1 {
    height: 25em;
}

section {
    background: white;
    height: 100%;
}

.title {
    width: inherit;
    height: 10em;
}

footer {
    background-color: #333333;
    color: white;
    width: 100%;
    padding-bottom: 1em;
}

.footer_logo {
    height: 10em;
    float: left;
    border: 1px dashed red;
    margin: 1em;
}
.f_link_sets {
    float: right;
    width: 80%;
    border: 1px dashed red;
    text-align: left;
}

.footer_links {
    display: inline-block;
    list-style-type: none;
    float:right;
    border-left: .1em white solid;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px dashed red;
}

.footer_title {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-decoration: underline;

}
.copyright {
    font-size: .75em;
    clear: both;
    margin: auto;
    width: inherit;
    border: 1px dashed red;
}

.footer_container {
    width: 80%;
    margin: auto;
    border: 1px dashed red;
}

@media screen and (max-width:960px) {
    .footer_links {
        padding-left: 5%;
        padding_right: 5%;
        float: none;
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    .top_bar_container {
        width: 100%;
    }

    .nav_container {
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }

    .f_link_sets {
        float: right;
    }

    .footer_links {
        padding-left: 2%;
        padding_right: 2%;

    }
    .logo_container {
        width: 100%;
    }
    .footer_logo {
        float: none;
        margin: auto;
    }

    @media screen and (max-width: 320px) {
        .logo_container {
            width: 100%;
        }

        .footer_links {
            text-align: center;
        }

        .footer_logo {
            float: none;
            margin: auto;
        }
    }

    @media screen and (max-width: 426px) {
        body {
            padding-top: 0;
        }
        .top_bar {
            background-color: green;
            height: 27em;
            position: static;
            margin-top: -48px;
        }

        .bar_logo1 {
            display: none;
        }

        .bar_logo2 {
            display: block;
            margin: auto;
            width: 6em;
        }

        .sign {
            float: none;
            margin: auto;
            font-size: .75em;
            width: 100%;
        }

        .bar_logo2, .sign {
            display: block;
        }

        form {
            width: 80%;
            float: left;
            margin-left: 10%;
        }

        input {
            width: 100%;
            border: none;
            margin: .3em;
            padding: none;
            text-align: center;

        }

        button {
            width: 100%;
            background-color: grey;
            border: none;
            margin: .3em;
        }

        .footer_links {
            width: 100%;
            margin: auto;
            font-size: .75em;
        }

        .logo_container {
            width: 100%;
        }
        .footer_logo {
            float: none;
            margin: auto;
            height: 5em;
        }
    }
