body {
    background-image: url('../images/background.png');
    text-align: center;
}

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

#first_container {
    background-color: white;
}

.icon {
    margin-top: 2em;
    width: 12em;
    border-radius: 100%;
}
