body {
    background-image: url('../images/background.png');
    text-align: center;
}

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#first_container {
    background-color: white;
}

.icon {
    width: 50%;
    border-radius: 100%;
}
